/* Textos */
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@400;700&display=swap');

* {
  font-family: 'Genos', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.tittle {}

/* Estructura */

.main {
  /* Safari/Chrome, other WebKit */
  -webkit-box-sizing: border-box;
  /* Firefox, other Gecko */
  -moz-box-sizing: border-box;
  /* Opera/IE 8+ */
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 64px;
}

.container {}

/* Componentes */

.card {}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbar a {
  border: 1px solid red;
}

.background {}

.pagination {}

.avatar {}


.info-project {
  background-color: rosybrown;
}

.info-lina {
  background-color: aqua;
}

/* Etiquetas */

link {}

button {}

input {}

select {}

textarea {}