/* Textos */
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@400;700&display=swap');

* {
  font-family: 'Genos', sans-serif;
  font-size: 20px;
  color: white;
}

button,
input,
select,
textarea {
  color: black;
}

.main,
.navbar a,
.container {
  /* Safari/Chrome, other WebKit */
  -webkit-box-sizing: border-box;
  /* Firefox, other Gecko */
  -moz-box-sizing: border-box;
  /* Opera/IE 8+ */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(26, 35, 126);
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.title.full {
  font-size: 30px !important;
}

/* Estructura */

.main {
  min-height: 100vh;
  padding-top: 64px;
}

.container {
  padding: 10px 5%;
}

.container.center {
  display: flex;
  justify-content: center;
}

/* Componentes */

.navbar {
  display: flex;
  justify-content: space-between;
  height: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbar a {
  display: inline-block;
  height: 64px;
  padding: 0px 10px;
  font-weight: bold;
  text-decoration: none;
  line-height: 64px;
  transition: background-color 1s ease 0s;
}

a.button {
  transition: background-color 1s ease 0s;
}

.navbar a:hover, a.button:hover {
  background-color: rgba(250, 250, 250, 0.2);
}

.navbar a img {
  vertical-align: middle;
}

.navbar img {
  border-radius: 50px;
}

.container-box {
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.container-box img {
  border-radius: 10px;
}

.button {
  font-weight: bold;
  text-decoration: none;
  border: 1px solid rgb(146, 143, 143);
  padding: 10px 20px;
  border-radius: 10px;
}

.pr {
  padding-right: 40px;
}

.pl {
  padding-left: 40px;
}

.options,
.pagination {
  text-align: center;
  margin: 10px;
}

.options select,
.pagination button {
  margin: 0px 10px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-grid a {
  text-decoration: none;
}

.card {
  border-radius: 10px;
  width: 350px;
  margin: 20px;
  height: 200px;
  transition: box-shadow 0.5s;
}

.card:hover {
  box-shadow: 0px 0px 10px white;
}

.card.full {
  width: 100% !important;
  height: 600px;
}

.card img {
  border-radius: inherit;
  width: 100%;
  object-fit: cover;
  height: 100%;
  display: block;
}

.card-content {
  position: relative;
  display: flex;
  align-items: end;
  top: -200px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 60%);
}

.card-content.full {
  top:-600px !important;
}

.card-content>div {
  width: 100%;
  padding: 20px;
}

.card-content.full>div {
  padding: 40px;
}

.chip {
  border-radius: 10px;
  background-color: #004d40;
  padding: 0px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 15px;
}

.scroll {
  overflow: auto;
  max-height: 200px;
}

.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar input {
  margin-right: 10px;
  border-radius: 5px;
}

.message {
  font-size: 30px;
  font-weight: bold;
  margin: 100px;
  text-align: center;
  width: 100%;
  height: auto;
}

.center-message {
  text-align: center;
}

.form-field {
  margin: 10px 0px;
}

.form-field>label, .form-field.error {
  display: block;
}

.error {
  color: orange;
  font-weight: bold;
}

.checkbox {
  display: inline-block;
  margin-right: 10px;
}

