body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom,
    #536DFE 50%,
    #283593 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-page {
  width: auto;
  font-size: 15px;
  margin: 10px;
  background-color: blueviolet;
  color: white;
}

.pagination {
  font-size: 20px;
  color: white;
}

.selectores {
  margin: 10px
}

.selectores select {
  margin: 5px;
  font-size: 15px;
}

.filter select {
  margin: 10px;
  font-size: 15px;
}

.filter button {
  margin: 10px;
  font-size: 15px;
}

.filter input {
  margin: 10px;
  font-size: 15px;
}